<body>
  <div class="center jumbotron">
    <h1>TraDIS Web Portal</h1>
    <br>

    <%= link_to "Sign up to view, upload or download data now!", signup_path, class: "btn btn-sm btn-primary" %>
  </div>
  <br>

  <hr>
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="mynewdata">                         
    <thead>
      <tr>
        <th>Exp. no.</th>                          
        <th>Genus</th>
        <th>Species</th>
        <th>Strain</th>
        <th>Experiment Title</th>
        <th>Experiment Description</th>
        <th>Reference</th>
        <th>Submitted on</th>
        <th>Uploaded by</th>
        <th>Show data</th>
      </tr>
    </thead>

    <tbody>
      <% @mynewdata.each do |mynewdata| %>       
      <tr>
        <td><%= mynewdata.id %></td>
        <td><i><%= best_in_place mynewdata, :Genus %></i></td>  
        <td><i><%= best_in_place mynewdata, :Species %></i></td>
        <td><%= best_in_place mynewdata, :strain %></td>
        <td><%= best_in_place mynewdata, :title %></td>
        <td><%= best_in_place mynewdata, :descrip %></td>
        <td><%= best_in_place mynewdata, :ref %></td> 
        <td><%= mynewdata.created_at %></td> 
        <td><%= mynewdata.user.name %></td>
        <td><%= link_to "Show data", experiments_path(:exp_no=>mynewdata.id),
                                class: "btn btn-small btn-primary" %></td> 
      </tr>
      <% end %>
    </table> 
  </tbody>
</body>    
   
 
